<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571584525542-tv159q5bq25m89nlbpkf7j4kqb6q8bt6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571584525542-tv159q5bq25m89nlbpkf7j4kqb6q8bt6</string>
	<key>API_KEY</key>
	<string>AIzaSyD-1-aDEl968FYW5TzKPfyoe1UuMmf19A4</string>
	<key>GCM_SENDER_ID</key>
	<string>571584525542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.climbingmeta.Diary</string>
	<key>PROJECT_ID</key>
	<string>diary-notes-1554465286399</string>
	<key>STORAGE_BUCKET</key>
	<string>diary-notes-1554465286399.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571584525542:ios:8e00c0b9f32ff071</string>
	<key>DATABASE_URL</key>
	<string>https://diary-notes-1554465286399.firebaseio.com</string>
</dict>
</plist>